*{
  box-sizing: border-box;
    font-family:Georgia, 'Times New Roman', Times, serif;

    margin: 0;
}


.header{
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.12em;
    background-color: rgb(50, 75, 100);
    font-size: x-large;
}
.header-img{
    height: inherit;
    width: 100px;
    margin-right: 0.5em;
    
}

.left-text{
    margin-right: auto;
}
.right-text{
    margin-right: 1em;
}
.meme-form{
    
}